body{
    background-color:  hsl(187, 78%, 87%);
}

.container{
    background-color: white;
    color: black;
    width: 600px;
    max-height: auto;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;

}


label{
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}
input{
   border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
}

button{
    background-color: rgb(71, 129, 71);
    color: white;
    margin-bottom: 15px;
}